:root {
	--header-height: 5rem;
}
html,
body {
	@apply h-full;
}

.active-link:not(:hover) {
	@apply bg-primary-500 text-black;
}

.active-link:hover {
	@apply !bg-primary-500 !text-black;
}

.svelte-progress-bar, .svelte-progress-bar-leader {
	@apply variant-filled-primary;
}

.svelte-progress-bar-leader {
	@apply variant-filled-primary;
}
